.hero {
  background: url(../../public/image/hero-bg.png);
  background-size: cover;
}

.exp {
  background: url(../../public/image/experience-bg.png);
  background-size: cover;
}

.shop {
  background: url(../../public/image/shop-bg.png);
  background-size: cover;
}

.games {
  background: url(../../public/image/games-bg.png);
  background-size: cover;
}

.subscribe {
  background: url(../../public/image/subcsribe-bg.png);
  background-size: cover;
}

.faq {
  background: url(../../public/image/faq-bg.png);
  background-size: cover;
}
